
  .centered-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    padding: 20px;
}

.hr{/* Adjust the height as needed */
    background-color: rgb(0, 0, 0); /* Background color */
    border: none; /* Remove default border */
    border-top: 3px solid rgb(255, 255, 255); /* Red border */
   

}

.btngrp{
  display: flex;
  justify-content: space-between;
}

.errormsg{
  color: red;
}